.footer {
  background-color: #050202;
  /* dark maroon */
  color: white;
  padding: 60px 0;
}

/* CONTAINER */

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* LOGO */

.footer-logo {
  font-family: cursive;
  font-size: 42px;
  font-weight: 500;
}

/* RIGHT SIDE */

.footer-right h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.footer-right p {
  margin: 6px 0;
  font-size: 16px;
  color: #e5e5e5;
}

@media (max-width: 768px) {

  .footer-container {
    flex-direction: column;
    gap: 30px;
  }

  .footer-left {
    text-align: center;
    width: 100%;
  }

  .footer-right {
    text-align: center;
    width: 100%;
  }

}